<!--<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="content-center">
      <div class="container">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." id="homeSearch">
          <span class="input-group-btn">
            <button class="btn btn-search" type="button">
              <i class="fa fa-search fa-fw"></i> Search</button>
          </span>
        </div>

        <h2 class="presentation-subtitle text-center">Loremp Ipsum achi Teashi</h2>
      </div>
    </div>
  </div>
  <div class="main">
    <packages></packages>
  </div>
</div>-->
<svg style="background-color:rgb(198, 191, 37)" id="graphID" width="0">
  <!--<circle cx="25" cy="25" r="25" fill="purple" id="idCircle" />-->
</svg>



